@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
} 

body {
  width: 100%; 
  height: 100vh;
}
 
header {
  height: 8%;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.containerHeader {
  width: 91%;
  height: 100%;
  display: flex;
  align-items: center;
}

.containerHeader .title {
  width: 100%;
  display: flex;
  font-size: 22px;
}

.title a{
  text-decoration: none;
  color: black;
  cursor: pointer;
} 

.containerHeader .menu {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  margin: 0px 0 0px 0;
}

.txtMenu {
  display: flex;
  gap: 20px;
  align-items: center;
}

.linkCreateProducts {
  text-decoration: none;
  color: black;
}

.menu p{
  cursor: pointer;
}

.menuCatalog {
  margin-top: 1px;
  background: white;
  width: 100%;
  height: 100px;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
  border-radius: 4px;
  z-index: 9;
}

.containerTitleCatalog{
  display: none;
}

.containerLinkCreateProducts{
  display: none;
}

.ulCatalog {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 70%;
}

.liCatalog {
  list-style: none;
  cursor: pointer;
}

.menu:hover .menuCatalog{
  display: flex;
}

.car {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.car a{
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.iconCar {
  font-size: 28px;
}

.containerNumberCar {
  height: 100%;
  background: rgb(225, 225, 225);
  font-size: 24px;
  border-radius: 40px;
  text-align: center;
  min-width: 12%;
  width: auto;
}

.containerNumberCar{
  display: none;
}

main {
  width: 100%;
  min-height: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background: #e1e1e1;
  gap: 2%;
}

.sectionForm {
    height: 90%;
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
}

.containerForm {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 6px;
}

.form {
    gap: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;
}

.titleCreateProducts {
    text-align: center;
    font-size: 28px;
}

.containerInputForm {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.containerInputFormImage{
  display: flex;
  gap: 3px;
}

label {
    font-size: 20px;
}

.inputForm {
    height: 50px;
    border-radius: 6px;
    border: none;
    background: rgb(225, 225, 225);
    outline: none;
    text-indent: 6px;
    font-size: 20px;
}

.inputFile {
  background: rgb(225, 225, 225);;
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.image{
  display: none;
}

.previewImage {
  display: none;
  width: 100px;
  height: 100px;
}

.buttonForm {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 78%);
    font-size: 20px;
    color: white;
    cursor: pointer;
}

footer{
  display: flex;
  height: 8%;
  width: 100%;
  background: white;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

@media (max-width:1279px) {

  .containerHeader {
    width: 95%;
    display: flex;
    align-items: center;
  }
  
  .containerHeader .title {
    width: 100%;
    display: flex;
  }
  
  .containerHeader .menu {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
  }

  .containerTitleCatalog{
    display: none;
  }

  .ulCatalog {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 70%;
    font-size: 18px;
  }
  
  .car {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
  }
  
  .menu p{
    cursor: pointer;
  }

  main {
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background: #e1e1e1;
    gap: 2%;
  }


  footer {
    display: flex;
    height: 7%;
    width: 100%;
    background: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}

@media (max-width:920px) {

  header {
    height: 8%;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .containerHeader {
    width: 78%;
    display: flex;
    align-items: center;
  }

  .car {
    width: 90%;
    display: flex;
    justify-content: end;
    gap: 10px;
}

  .containerHeader .menu {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
  }

  .menuCatalog {
    margin-top: 1px;
    background: white;
    width: 250px;
    height: 100px;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    border-radius: 4px;
  }

  .containerTitleCatalog{
    display: none;
  }

  .ulCatalog {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 70%;
    font-size: 18px;
  }

  main {
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e1e1e1;
    gap: 2%;
  }

  .sectionForm {
    height: 90%;
    width: 40%;
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
    }

  footer {
    display: flex;
    height: 7%;
    width: 100%;
    background: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}

@media (max-width:768px) {

  header {
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 100%;
    background: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 10px;
  }

  .containerHeader {
    width: 90%;
    display: flex;
    align-items: center;
  }

  .containerHeader .title {
    width: 100%;
    display: flex;
    justify-content: start;
    font-size: 16px;
  }

  .containerHeader .menu {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
  }

  .car {
    width: 60%;
    display: flex;
    justify-content: end;
    gap: 10px;
  }

  .menuCatalog {
    margin-top: 1px;
    background: white;
    width: 250px;
    height: 100px;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    border-radius: 4px;
    z-index: 9;
  }

  .containerTitleCatalog{
    display: none;
  }

  .ulCatalog {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 70%;
    font-size: 18px;
  }

  .containerNumberCar {
    height: 100%;
    background: rgb(225, 225, 225);
    font-size: 20px;
    border-radius: 40px;
    text-align: center;
    min-width: 12%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .containerNumberCar{
    display: none;
  }

  main {
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background: #e1e1e1;
    gap: 2%;
  }

  .sectionForm {
    height: 90%;
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
    }

  footer {
    display: flex;
    height: 10%;
    width: 100%;
    background: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}

@media (max-width:480px) {

  .containerHeader {
    width: 90%;
    display: flex;
    align-items: center;
  }
 
  .containerHeader .title {
    order: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  .containerHeader .menuPhone {
    position: static;
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100%;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 17px;
  }

  .linkCreateProducts {
    display: none;
    text-decoration: none;
    color: black;
  }

  .menuPhone p{
    width: 24px;
    height: 24px;
  }
  
  .menuCatalog {
    margin-top: 0;
    z-index: 999999;
    background: white;
    width: 68%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 4px;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
  }
  
    .containerLinkCreateProducts {
      display: block;
      margin-bottom: 40px;
    }
  
    .linkCreateProductsMenu {
      font-size: 28px;
    }

    .linkCreateProductsMenu a{
      font-size: 28px;
      text-decoration: none;
      color: black;
    }

  .containerTitleCatalog{
    display: block;
    }

  .titleCatalog {
    font-size: 28px;
    }

  .ulCatalog {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 60%;
    font-size: 25px;
  }

  .car {
    order: 3;
    width: 70%;
    display: flex;
    justify-content: end;
    gap: 10px;
  }

  main {
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background: #e1e1e1;
    gap: 2%;
  }

  .sectionForm {
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
    }
}