@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

header{
  display: flex;
  height: 6%;
  width: 100%;
  background: white;
  justify-content: space-between;
  align-items: center;
}

header .title {
  width: 10%;
  display: flex;
  flex-direction: row-reverse;
}

header .menu {
  display: flex;
  width: 52%;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.menu p{
  cursor: pointer;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e1e1e1;
}

main .container {
  display: flex;
  flex-direction: column;
  height: 45%;
  width: 17%;
  background-color: white;
  justify-content: space-around;
  border-radius: 0.25rem;
}

.sectionProducts {
  height: 90%;
  width: 89%;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 63px;
}

.containerImage{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 95%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 78%);
  border-radius: 0.3125rem;
}

.image img {
  width: 90%;
  height: 85%;
  object-fit: contain;
}

.containerDescribeAndPrice {
  display: flex;
  width: 286px;
  height: 34%;
  align-items: center;
  justify-content: center;
}

.describeAndPrice {
  display: flex;
  flex-direction: column;
  width: 198px;
  gap: 15px;
}

.txtDiscribe {
  height: 100%;
  width: 100%;
}

footer{
  display: flex;
  height: 6%;
  width: 100%;
  background: white;
  justify-content: center;
  align-items: center;
}